*:not(.title):not(.mat-icon) {
    font-size: 16px !important;
}

main {
    display: flex;
    width: 98%;
    height: 98%;
    margin: 20px;
    justify-content: space-between;
    gap: 20px;
}

.firstRow {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.secondRow {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

section {
    border: 1px solid #969696;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.secondRow section {
    height: 100%;
}

.secondRow .content {
    margin-top: 20px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.firstRow .content {
    height: 300px;
}

.content {
    height: 98%;
    overflow: auto;
}

td button {
    margin: .5em 0;
}

.buttons-group {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.clicked-row {
    background-color: #D5F1FA !important;
    font-weight: bold !important;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}