<main>
  <div class="firstRow">
    <section>
      <article>
        <p class="title">Profesores y secretaria</p>
        <div class="content">
          <table mat-table [dataSource]="staff">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- role Column -->
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef> Rol </th>
              <td mat-cell *matCellDef="let element"> {{element.role}} </td>
            </ng-container>

            <!-- edit Column -->
            <ng-container matColumnDef="edit" stickyEnd>
              <th mat-header-cell *matHeaderCellDef> Editar </th>
              <td mat-cell *matCellDef="let element"> <button>Editar</button> </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedTeachersColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedTeachersColumns;"></tr>
          </table>
        </div>
      </article>
    </section>
    <section>
      <article>
        <p class="title">Alumnos</p>
        <div class="content">
          <table mat-table [dataSource]="students">

            <!-- name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} {{element.lastname}}</td>
            </ng-container>

            <!-- course Column -->
            <ng-container matColumnDef="course">
              <th mat-header-cell *matHeaderCellDef> Ciclo </th>
              <td mat-cell *matCellDef="let element"> {{element.course}} </td>
            </ng-container>

            <!-- group Column -->
            <ng-container matColumnDef="group">
              <th mat-header-cell *matHeaderCellDef> Grupo </th>
              <td mat-cell *matCellDef="let element"> {{element.course}} </td>
            </ng-container>

            <!-- edit Column -->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef> Editar </th>
              <td mat-cell *matCellDef="let element"> <button>Editar</button> </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedStudentsColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedStudentsColumns;"></tr>
          </table>
        </div>
      </article>
    </section>
  </div>
  <div class="secondRow">
    <section>
      <article>
        <h2 class="title">Crear/Modificar Usuarios</h2>
        <div class="content">
          <!-- <form>
                        <mat-form-field class="example-form-field">
                            <mat-label>Clearable input</mat-label>
                            <input matInput type="text">
                            <button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
                              <mat-icon>close</mat-icon>
                            </button>
                          </mat-form-field>
                        <input type="text" formControlName="acronym" placeholder="Acrónimo" autocomplete="off" />
                        <button type="submit">Crear ciclo</button>
                    </form> -->
          <form (submit)="createNewUser()" [formGroup]="form">
            <mat-form-field class="example-form-field">
              <mat-label>Nombre</mat-label>
              <input matInput type="text" formControlName="name" [(ngModel)]="name">
              <button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
                <mat-icon aria-hidden="false" aria-label="clear-input" fontIcon="close"></mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field class="example-form-field">
              <mat-label>Apellidos</mat-label>
              <input matInput type="text" formControlName="lastname" [(ngModel)]="lastname">
              <button *ngIf="lastname" matSuffix mat-icon-button aria-label="Clear" (click)="lastname=''">
                <mat-icon aria-hidden="false" aria-label="clear-input" fontIcon="close"></mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field class="example-form-field">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" [(ngModel)]="email">
              <button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
                <mat-icon aria-hidden="false" aria-label="clear-input" fontIcon="close"></mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field class="example-form-field">
              <mat-label>Contraseña</mat-label>
              <input matInput type="text" formControlName="password" [(ngModel)]="password">
              <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
                <mat-icon aria-hidden="false" aria-label="clear-input" fontIcon="close"></mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field class="example-form-field">
              <mat-label>Rol</mat-label>
              <input matInput type="text" formControlName="role" [(ngModel)]="role">
              <button *ngIf="role" matSuffix mat-icon-button aria-label="Clear" (click)="role=''">
                <mat-icon aria-hidden="false" aria-label="clear-input" fontIcon="close"></mat-icon>
              </button>
            </mat-form-field>
            <button type="submit">Crear ciclo</button>
          </form>
        </div>
      </article>
    </section>
  </div>
</main>