<main>
  <div class="firstRow">
    <section>
      <article>
        <p class="title">Profesores y secretaria</p>
        <div class="content">
          <table mat-table [dataSource]="staff">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- role Column -->
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef> Rol </th>
              <td mat-cell *matCellDef="let element"> {{element.role}} </td>
            </ng-container>

            <!-- edit Column -->
            <ng-container matColumnDef="edit" stickyEnd>
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element">
                <div class="buttons-group">
                  <button (click)="getTeacherById(element.id)">Editar</button>
                  <button *ngIf="element.id !== 1" (click)="deleteUser(element)">Eliminar</button>
                </div>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedTeachersColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedTeachersColumns;"></tr>
          </table>
        </div>
      </article>
    </section>
    <section>
      <article>
        <p class="title">Alumnos</p>
        <div class="content">
          <table mat-table [dataSource]="students">

            <!-- name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} {{element.lastname}}</td>
            </ng-container>

            <!-- course Column -->
            <ng-container matColumnDef="course">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- edit Column -->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element">
                <div class="buttons-group">
                  <button (click)="getStudentById(element.id)">Editar</button>
                  <button *ngIf="element.id !== 1" (click)="deleteUser(element)">Eliminar</button>
                </div>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedStudentsColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedStudentsColumns;"></tr>
          </table>
        </div>
      </article>
    </section>
  </div>
  <div class="secondRow">
    <section>
      <article>
        <h2 class="title">Crear/Modificar Usuarios</h2>
        <div class="content">
          <form (submit)="post ? createNewUser() : updateUser()" [formGroup]="form">
            <input type="text" formControlName="id" hidden> <!-- Hidden input to store the id of the user -->
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input type="text" matInput placeholder="Nombre" formControlName="name" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Apellidos</mat-label>
              <input type="text" matInput placeholder="Apellidos" formControlName="lastname" autocomplete="off"
                required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Ej. nombre@ejemplo.com" formControlName="email"
                autocomplete="new-email" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Contraseña</mat-label>
              <input [type]="passwordIsHide ? 'password' : 'text'" matInput placeholder="Contraseña"
                formControlName="password" autocomplete="new-password" required>
              <button mat-icon-button type="button" matSuffix (click)="passwordIsHide = !passwordIsHide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordIsHide">
                <mat-icon>{{passwordIsHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Roles</mat-label>
              <mat-select formControlName="role" name="mySelect" required>
                <mat-option [disabled]="true"> --- Elige uno --- </mat-option>
                <mat-option *ngFor="let role of roles" [value]="role.roleName">
                  {{role.roleName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="roleName === 'STUDENT'">
              <mat-label>Grupo</mat-label>
              <mat-select formControlName="group" multiple required>
                <mat-option [disabled]="true"> --- Seleccionar --- </mat-option>
                <mat-optgroup *ngFor="let course of courses" [label]="course.name">
                  <div *ngFor="let group of groups">
                    <mat-option *ngIf="group.courseId == course.id" [value]="group.id">
                      {{group.name}}
                    </mat-option>
                  </div>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="roleName === 'TEACHER'">
              <mat-label>Modulos</mat-label>
              <mat-select formControlName="modules" multiple required>
                <mat-option [disabled]="true"> --- Seleccionar --- </mat-option>
                <mat-option *ngFor="let module of modules" [value]="module.id">
                  {{module.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="buttons-group">
              <button *ngIf="post" type="submit">Crear Usuario</button>
              <button *ngIf="!post" type="submit">Modificar Usuario</button>
              <button type="reset">Limpiar</button>
            </div>
          </form>
        </div>
      </article>
    </section>
  </div>
</main>