<section>
	<article>
		<h2 class="title">Módulos</h2>
		<div class="content">
			<table mat-table [dataSource]="modules">

				<!-- Name and Teacher Column -->
				<ng-container matColumnDef="nameAndTeacher">
					<th mat-header-cell *matHeaderCellDef> Nombre </th>
					<td mat-cell *matCellDef="let module">
						<p>{{module.name}}</p><span style="font-style: italic;">{{module.usersName}}</span>
					</td>
				</ng-container>

				<!-- Button Column -->
				<ng-container matColumnDef="acronym">
					<th mat-header-cell *matHeaderCellDef> Acrónimo </th>
					<td mat-cell *matCellDef="let module"> {{module.acronym}} </td>
				</ng-container>

				<!-- Edit Column -->
				<ng-container matColumnDef="edit">
					<th mat-header-cell *matHeaderCellDef> Acciones </th>
					<td mat-cell *matCellDef="let module">
						<button (click)="selectModule(module)">{{selectedModule == null ? 'Editar' : 'Cancelar'}}</button>
						<button class="delete-button" (click)="deleteModule(module)">Eliminar</button>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
		</div>
	</article>
</section>
<section>
	<article>
		<h2 class="title">Crear/Actualizar Módulos</h2>
		<div class="content">
			<form (submit)="post ? createNewModule() : updateModule()" [formGroup]="form">
				<input type="text" formControlName="id" hidden> <!-- Hidden input to store the id of the user -->

				<div class="inline">
					<mat-form-field>
						<mat-label>Nombre</mat-label>
						<input type="text" matInput placeholder="Nombre del módulo" formControlName="name" required>
					</mat-form-field>

					<mat-form-field>
						<mat-label>Acrónimo</mat-label>
						<input type="text" matInput placeholder="Acrónimo" formControlName="acronym" required>
					</mat-form-field>
				</div>

				<mat-radio-group aria-label="Selecciona el curso al que pertenece el módulo" formControlName="year">
					<mat-radio-button value="1" [checked]="form.get('year')?.value == 1">Primer Curso</mat-radio-button>
					<mat-radio-button value="2" [checked]="form.get('year')?.value == 2">Segundo
						Curso</mat-radio-button>
				</mat-radio-group>

				<div class="inline">
					<mat-form-field>
						<mat-label>Ciclo</mat-label>
						<mat-select formControlName="course" name="mySelect" required>
							<mat-option>--- Elige uno ---</mat-option>
							<mat-option *ngFor="let course of courses" [value]="course.id">
								{{course.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field>
						<mat-label>Profesores</mat-label>
						<mat-select formControlName="teachers" [(value)]="selections" name="selections" multiple>
							<mat-option *ngFor="let teacher of teachers" [value]="teacher.id">{{teacher.name}}
								{{teacher.lastname}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<mat-form-field>
					<mat-label>Color</mat-label>
					<input type="color" matInput formControlName="color" required>
				</mat-form-field>

				<div class="buttons-group">
					<button type="submit">{{post ? 'Crear Módulo' : 'Actualizar Módulo'}}</button>
					<button class="clean-button" type="reset">Limpiar</button>
				</div>
			</form>
		</div>
	</article>
</section>