<section>
    <article>
        <h2 class="title">Módulos</h2>
        <div class="content">
            <table mat-table [dataSource]="modules">

                <!-- Name and Teacher Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let module"> <p>{{module.name}}</p><p>{{module.teacher.name}}</p> </td>
                </ng-container>
            
                <!-- Button Column -->
                <ng-container matColumnDef="acronym">
                  <th mat-header-cell *matHeaderCellDef> Acrónimo </th>
                  <td mat-cell *matCellDef="let module"> {{module.acronym}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </article>
</section>
<section>
    <article>
        <h2 class="title">Crear/Actualizar Módulos</h2>
        <div class="content">
            <!-- <form (submit)="createNewCourse()" [formGroup]="form">
                <input type="text" formControlName="name" placeholder="Nombre" autocomplete="off" />
                <input type="text" formControlName="acronym" placeholder="Acrónimo" autocomplete="off" />
                <button type="submit">Crear ciclo</button>
            </form> -->
        </div>
    </article>
</section>