<section>
    <article>
        <p class="title">Horas Mensuales de Profesores</p>
        <div class="content">
            <table mat-table [dataSource]="teachers">

                <!-- Date Column -->
                <ng-container matColumnDef="teachers">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{ element.name + ' ' + element.lastname}} </td>
                </ng-container>

                <!-- Time Column -->
                <ng-container matColumnDef="groups">
                    <th mat-header-cell *matHeaderCellDef> Modulos Impartidos </th>
                    <td mat-cell *matCellDef="let element"> {{ element.modules.length }} </td>
                </ng-container>

                <!-- Checkin Column -->
                <ng-container matColumnDef="mentorings">
                    <th mat-header-cell *matHeaderCellDef> Total de tutorias </th>
                    <td mat-cell *matCellDef="let element"> {{ element.mentorings.length }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </article>
</section>