<section>
    <article>
        <p class="title">Horas Mensuales de Profesores</p>
        <div class="content">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Horas Lectivas</th>
                        <th>Horas Tutorías</th>
                        <th>Horas Totales</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Alejandro Muñoz</td>
                        <td>18:30</td>
                        <td>2:00</td>
                        <td>20:30</td>
                    </tr>
                    <tr>
                        <td>María Pérez</td>
                        <td>18:30</td>
                        <td>2:00</td>
                        <td>20:30</td>
                    </tr>
                    <tr>
                        <td>Carlos García</td>
                        <td>18:30</td>
                        <td>2:00</td>
                        <td>20:30</td>
                    </tr>
                    <tr>
                        <td>María Pérez</td>
                        <td>18:30</td>
                        <td>2:00</td>
                        <td>20:30</td>
                    </tr>
                    <tr>
                        <td>Carlos García</td>
                        <td>18:30</td>
                        <td>2:00</td>
                        <td>20:30</td>
                    </tr>
                    <tr>
                        <td>María Pérez</td>
                        <td>18:30</td>
                        <td>2:00</td>
                        <td>20:30</td>
                    </tr>
                    <tr>
                        <td>Carlos García</td>
                        <td>18:30</td>
                        <td>2:00</td>
                        <td>20:30</td>
                    </tr>
                    <tr>
                        <td>María Pérez</td>
                        <td>18:30</td>
                        <td>2:00</td>
                        <td>20:30</td>
                    </tr>
                    <tr>
                        <td>Carlos García</td>
                        <td>18:30</td>
                        <td>2:00</td>
                        <td>20:30</td>
                    </tr>
                    <tr>
                        <td>María Pérez</td>
                        <td>18:30</td>
                        <td>2:00</td>
                        <td>20:30</td>
                    </tr>
                    <tr>
                        <td>Carlos García</td>
                        <td>18:30</td>
                        <td>2:00</td>
                        <td>20:30</td>
                    </tr>
                    <tr>
                        <td>María Pérez</td>
                        <td>18:30</td>
                        <td>2:00</td>
                        <td>20:30</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
</section>