section {
    display: flex;
    width: 100%;
    padding: 16.5px 0;
    border-bottom: 1px solid #969696;
    justify-content: flex-end;
    align-items: center;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #009CB5;
    border-radius: 100%;
}


article a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin-right: 20px;
    gap: 12px;
}

a {
    cursor: pointer;
}