<div class="sideContainer">
    <img src="./assets/Images/logo_estech.svg" alt="Logo estech" class="estech-img">
    <div class="sideMenuContainer">
        <div class="sideMenuOptionsContainer" *ngFor="let item of items">
            <a [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                (mouseenter)="changeImage(item, true)" (mouseleave)="changeImage(item, false)">
                <span>
                    <img [src]="isActiveLink(item) ? item.srcHover : item.src" alt="Icono {{item.nombre}}" class="icon">
                    <p>{{item.nombre}}</p>
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M9 6l6 6l-6 6" />
                </svg>
            </a>
        </div>
    </div>
</div>