<section>
    <article>
        <h2 class="title">Ciclos</h2>
        <div class="content">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acrónimo</th>
                        <th>Nº Grupos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
</section>