*:not(.title) {
    font-size: 16px;
}

section {
    display: flex;
    border: 1px solid #969696;
    width: 514px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

article {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    padding: 10px;
}

tbody tr td:last-child {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.circleContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bigCircleGreen {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: green;
}

.bigCircleRed {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: red;
}

.circleGreen {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 100%;
}

.circleRed {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 100%;
}

.enter {
    justify-content: flex-end;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
