<section>
    <article>
        <h2 class="title">Fichaje</h2>
        <span class="content">
            <span class="circleContent">
                <div class="circle"></div>
                <p>Debes fichar la salida</p>
            </span>
            <span class="date">
                <span>
                    <p><span class="bold">Hora:</span> {{hour}} </p>
                    <p><span class="bold">Fecha:</span> {{date}}</p>
                </span>
            </span>
            <button>
                Fichar
            </button>
        </span>
    </article>
    <article>
        <p class="title">Ultimos 4 fichajes</p>
        <span class="content">
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Entrada/Salida</th>
                    </tr>
                </thead>
                <!-- <tr *ngFor="let checkin of checkins">
                    <td>{{checkin.date}}</td>
                    <td>{{checkin.hour}}</td>
                    <td>{{checkin.type}}</td>
                </tr> -->
                <tbody>
                    <tr>
                        <td>27/02/24</td>
                        <td>08:30</td>
                        <td class="enter">Entrada <div class="circleGreen"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>27/02/24</td>
                        <td>08:30</td>
                        <td class="enter">Salida <div class="circleRed"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>27/02/24</td>
                        <td>08:30</td>
                        <td class="enter">Entrada <div class="circleGreen"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>27/02/24</td>
                        <td>08:30</td>
                        <td class="enter">Salida <div class="circleRed"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </span>
    </article>
</section>