<section>
    <article>
        <h2 class="title">Fichaje</h2>
        <span class="content">
            <!-- #TODO: Arreglar -->
            <span class="circleContent">
                <div class="{{lastFourCheckins[lastFourCheckins.length - 1] ? 'bigCircleRed' : 'bigCircleGreen'}}"></div>
                <p>Debes fichar la {{lastFourCheckins[lastFourCheckins.length - 1] ? 'salida' : 'entrada'}}</p>
            </span>
            <span class="date">
                <span>
                    <p><span class="bold">Hora:</span> {{hour}} </p>
                    <p><span class="bold">Fecha:</span> {{date}}</p>
                </span>
            </span>
            <button (click)="checkin()">
                Fichar
            </button>
        </span>
    </article>
    <article>
        <p class="title">Ultimos 4 fichajes</p>
        <span class="content">
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Entrada/Salida</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let checkin of lastFourCheckins">
                        <td>{{checkin.date.split('T')[0].replaceAll('-', '/').split('/').reverse().join('/')}}</td>
                        <td>{{checkin.date.split('T')[1].split('.')[0]}}</td>
                        <td>{{checkin.checkIn ? 'Entrada' : 'Salida'}} <div class="{{checkin.checkIn ? 'circleGreen' : 'circleRed'}}"></div></td>
                    </tr>
                </tbody>
            </table>
        </span>
    </article>
</section>