*:not(.title) {
    font-size: 16px;
}

section {
    display: flex;
    border: 1px solid #969696;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

article {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    
    align-items: center;
    justify-content: flex-start;
}

.content-table {
    height: 180px;
    overflow: auto;
}

div {
    width: 100%;
}

.fichar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.circleContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bigCircleGreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: green;
}

.bigCircleRed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: red;
}

mat-icon::before {
    font-size: 24px;
}

.circleGreen {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 100%;
}

.circleRed {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 100%;
}

.enter {
    justify-content: flex-end;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}